[submodule "docs/notes/org.freedesktop.Sdk.Extension.llvm22"]
	path = docs/notes/org.freedesktop.Sdk.Extension.llvm22
	url = https://github.com/flathub/org.freedesktop.Sdk.Extension.llvm22.git
[submodule "docs/notes/org.freedesktop.Sdk.Extension.qt6"]
	path = docs/notes/org.freedesktop.Sdk.Extension.qt6
	url = https://github.com/4c0n/org.freedesktop.Sdk.Extension.qt6.git
[submodule "docs/notes/org.freedesktop.Sdk.Extension.rust-stable"]
	path = docs/notes/org.freedesktop.Sdk.Extension.rust-stable
	url = https://github.com/flathub/org.freedesktop.Sdk.Extension.rust-stable
[submodule "draft/flathub"]
	path = draft/flathub
	url = git@github.com:da2ce7/flathub.git
	branch = new-pr
